

@{
    ViewBag.Title = "Добавление новой записи";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form action="AddSave" method="post" class="d-flex flex-column w-25">
    <label>Имя</label>
    <input type="text" name="name"/>
    <label>Номер телефона</label>
    <input type="number" name="number"/>
    <br/>
    <input type="submit" value="Добавить" class="btn btn-outline-success"/>
</form>
