
@{
    ViewBag.Title = "Удалить запись";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form action="/Dict/DeleteSave" method="post" class="d-flex flex-column w-25">
    <label>Удалить запись с данным ID?</label>
    <input type="number" name="id" value="@ViewData["id"]"/>
    <br/>
    <input type="submit" class="btn btn-outline-success" value="Подтвердить"/>
</form>
