
@{
    ViewBag.Title = "Удалить запись";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form action="DeleteSave" method="post">
    <label>Имя</label>
    <input type="text" name="name"/>
    <input type="submit" class="btn btn-outline-success"/>
</form>
