
@{
    ViewBag.Title = "Обновить запись";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form action="UpdateSave" method="post">
    <label>Имя</label>
    <input type="text" name="name"/>
    <label>Новый номер</label>
    <input type="number" name="number"/>
    <input type="submit" value="Изменить" class="btn btn-outline-success"/>
</form>
